---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 0
NamespaceIndentation: All
CompactNamespaces: false
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
BinPackArguments: true
BinPackParameters: true
IndentCaseLabels: false
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
AccessModifierOffset: -4
SortIncludes: false
BreakConstructorInitializers: AfterColon
PackConstructorInitializers: CurrentLine
ConstructorInitializerIndentWidth: 4
SpaceBeforeInheritanceColon: true
SpaceBeforeCtorInitializerColon: true
EmptyLineBeforeAccessModifier: Never
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 2
FixNamespaceComments: false
