---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
NamespaceIndentation: All
CompactNamespaces: false
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: false
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
AccessModifierOffset: -4
IncludeBlocks: Regroup
SortIncludes: CaseSensitive
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
SpaceBeforeInheritanceColon: true
SpaceBeforeCtorInitializerColon: true
EmptyLineBeforeAccessModifier: Never
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 2
FixNamespaceComments: false
